@charset "UTF-8";

/*
PENDENTE: CONVERTER PX PARA %
última atualização: 11/03
*/

/* configuração padrão */
* {
    margin: 0;
    padding: 0;
}

/* design responsivo: evitando distorção nas mídias */
img,
picture,
video,
embed {
   max-width: 100%;
}

/* corpo todo */
body {    
    background-color: rgba(51, 112, 243, 0.356);
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 62.5%; /* facilitando a conversão de px para em (site responsivo) */    
}

/* navbar menu */
.menu ul {  
    top: 0;    
    position: fixed;
    list-style: none;   
    width: 100%;  
    padding: 10px;
    background-color: rgb(247, 255, 140); 
    text-align: center;    
}

/* itens do menu */
.menu li {    
    display: inline;
    padding: 5px 30px;    
    font-family: 'Pacifico', cursive;    
    font-size: 2.5em;    
}

/* links do menu */
.menu a {
    color: rgb(0, 0, 0);
}

/* ao passar o mouse em um link do menu */
.menu a:hover {
    color:#e4371f;    
}

/* section do título + subtítulo + imagem */
.logo {    
    margin: 80px;      
    height: 350px; 
}

/* div título + subtítulo */
.codepwr {
    float: right;
    padding-right: 200px;    
    padding-top: 100px;
}

/* h1 título */
.titulo {    
    color: #e4371f;
    font-size: 10.0em;       
    font-family: 'Lobster', cursive;
}

/* h2 subtítulo */
.subtitulo {  
    font-size: 2.6em;   
    color: black; 
}

/* imagem wecandoit */
.img-esq {    
   float: left; 
   padding-left: 150px; 
   padding-top: 30px;
  }

/* conf links */
a {
    text-decoration: none; 
}   

/* rodapé */
.rodape {       
    background-color: rgb(247, 255, 140);    
    width: 100%; 
    bottom: 0;    
    position: fixed;
    vertical-align: middle;       
                        
}
.rodape p {  
    float: left; 
    padding: 10px 8px;        
    font-family: 'Pacifico', cursive;
    color: rgba(0, 0, 0, 0.733);    
    font-size: 2.0em;
}
.icones {    
    float: right;
    padding: 10px 8px;
}


