/* section mulheres na T.I. */
.mulheresti {
    font-size: 2.0em;
    margin: 80px 200px;
    padding: 20px;
    text-align: center;
    color:black;
    background-color: #fcfaf925;
    border-radius: 20px;   
}

.mulheresti a {
    color: #e4361f;   
    font-weight: bold; 
}

.mulheresti a:hover {
    text-decoration: underline;
}
