.txt-dir a{
    color: #e4371f;
    font-weight: bold;
}

div#capa {      
    max-width: 1128px;
    margin: 0 auto;
    background: #cee9ed62;
    padding: 20px;
    height: 350px;    
}

.img-esq {  
  position: relative;
  margin-top: -150px;
  margin-left: -100px; 
  max-width: 100%;
  float: left;
}

.txt-dir {     
    max-width: 1800px;      
    margin: 20px 20px 20px 380px;   
    color: black;
    font-size: 18px; 
}

